body {
    background-color: #a1cbf6;
}

.card {
    border-radius: 10px;
}

#messageInput {
    resize: none;
}

.progress {
    height: 30px;
    border-radius: 5px;
}

.progress-bar {
    transition: width 0.5s ease-in-out;
}

.alert {
    border-radius: 5px;
}